fredapi==0.5.2
narwhals==2.21.0
numpy==2.0.2
packaging==26.2
pandas==2.3.3
patsy==1.0.2
plotly==6.7.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2026.2
scipy==1.13.1
six==1.17.0
statsmodels==0.14.6
tzdata==2026.2
